<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="zf-doctrine-audit Tests">
            <directory>./ZFTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./..</directory>
            <exclude>
                <directory>./../vendor</directory>
                <directory>.</directory>
                <file>./../config/module.config.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>

