<?php

return [
    'doctrine' => [
        'configuration' => [
            'orm_default' => [
                'numeric_functions' => [
                    'close_revision_audit'  => 'ZF\Doctrine\Audit\Query\MySQL\CloseRevisionAudit',
                ],
            ],
        ],
    ],
    'zf-doctrine-audit' => [
        // The object manager containing the entities to audit
        'target_object_manager' => 'doctrine.entitymanager.orm_default',

        // The object manager to audit with.  May be the same as target_object_manager
        'audit_object_manager' => 'doctrine.entitymanager.orm_zf_doctrine_audit',

        // If you use the same entity manager for the target and audit your table must
        // be named differently.  Suffix is strongly recommended over prefix.
        'audit_table_name_suffix' => '_AuditLog',
        'audit_table_name_prefix' => '',

        // The epoch command line tool will import an existing database into an
        // empty audit database.  This setting controls how many entities are
        // imported per cycle.  If you run out of memory lower this value.
        // If memory is not a problem, to increase speed raise this value.
        'epoch_import_limit' => 200,

        /**
         * The joinEntities array is a list of pseudo entity names representing a many
         * to many join across entities.
         *
         * The format is the namespace of the owner entity followed by the table name (in most cases)
         * to represent the entity.
         * The ownerEntity is required as is the tableName.  This information is used to find the join
         * mapping in the metadata.
         */
        'joinEntities' => [
            'Db\Entity\ArtistToArtistGroup' => [
                'ownerEntity' => 'Db\Entity\ArtistGroup',
                'tableName' => 'ArtistToArtistGroup',
            ],
        ],

        'entities' => [
            'Db\Entity\ArtistGroup' => [
                // Additional configuration of audited entities is reserved.
            ],
        ],
    ],
];

